body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    text-align: center;
}

header {
    background: #1e88e5;
    padding: 15px;
    font-size: 24px;
}

nav {
    margin: 20px;
}

.game-btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    background: #fbc02d;
    text-decoration: none;
    color: black;
    font-size: 18px;
    border-radius: 5px;
}

.back-btn {
    display: block;
    margin: 10px auto;
    color: white;
    text-decoration: none;
}
